main {
    width: 80vw;
    max-width: 500px;
    min-width: 180px;
    margin: 0 auto;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
    display: block;
    width: 90%;
    min-width: 160px;
    padding: 5px;
    margin-top: 5px;
    font-size: 0.5em;
  }
  input[type="radio"] {
    width: 50%;
    vertical-align: middle;
  }